// ================= SCSS SetUp =================
@import "./SetUpBase/variables";
@import "./SetUpBase/reset";
@import "./SetUpBase/mixin";
@import "./SetUpBase/mixinResponsive";
@import "./SetUpBase/base";

// ================= SCSS General =================
@import "./Layout/header";
@import "./Layout/footer";

// ================= SCSS Content =================

@import "./Components/category";
@import "./Components/slider";
@import "./Components/supplier";
@import "./Components/product";
@import "./Components/banner";
@import "./Components/menu";
@import "./Components/detail";
@import "./Components/info";
@import "./Components/evaluate";
@import "./Components/cart";
@import "./Components/account";
