$font-main: "Inter", sans-serif;

// @font-face {
//     font-family: "UTMASHeartbeat";
//     src:
//         local("UTMASHeartbeat"),
//         url("/assets/font/UTM\ A\ S\ Heartbeat.ttf") format("truetype");
//     font-style: normal;
// }

// $font-title: "UTMASHeartbeat", sans-serif;

// ======================== Color Main ========================
$color-main: #cc3366;
$color-title: #6c757d;
$color-text: #384059;
$color-sub: #9b9fac;

// ======================== Back color ========================

// ======================== Color mix ========================
