.cart {
    &-wrapper {
        margin: 20px 0;
    }

    &-header {
        @include flexBox(bothSides);
        margin-bottom: 20px;

        &__title {
            font-size: 24px;
            font-weight: bold;

            @include responsive_bothTM {
                font-size: 22px;
            }

            &.special {
                margin-bottom: 10px;
                text-align: center;
            }
        }

        &__search {
            color: $color-text;
        }
    }

    &-tab {
        max-width: 700px;
        margin: 0 auto 20px;

        @include responsive_mobile {
            max-width: 100%;
        }

        &__list {
            position: relative;
            @include flexBox(hor);
            max-width: 100%;
            overflow-x: auto;
            height: 115px;

            flex-wrap: initial;
            border: 0 !important;

            @include responsive_mobile {
                height: 170px;
            }

            &::-webkit-scrollbar {
                height: 15px;
            }

            /* Track */
            &::-webkit-scrollbar-track {
                background: rgba($color: $color-main, $alpha: 1);
                border-radius: 0;
            }

            /* Handle */
            &::-webkit-scrollbar-thumb {
                border-radius: 0;
                background: rgba($color: $color-main, $alpha: 1);
            }

            /* Handle on hover */
            &::-webkit-scrollbar-thumb:hover {
                background: rgba($color: $color-main, $alpha: 1);
            }

            li + li {
                margin-left: 5px;
            }

            .nav-item {
                height: 100%;
            }
        }

        &__link {
            padding: 10px 20px;
            border-radius: 10px 10px 0 0 !important;
            background-color: #fff !important;
            text-align: center;

            height: 100%;
            min-width: 200px;
            max-width: 250px;
            border: 0 !important;

            @include responsive_mobile {
                min-width: 110px;
                max-width: 250px;
            }

            &.active {
                background-color: $color-main !important;

                .cart-tab {
                    &__stt {
                        border-color: #fff !important;
                        color: $color-main !important;
                        background-color: #fff !important;
                    }

                    &__text {
                        color: #fff !important;
                    }
                }
            }

            &:hover {
                opacity: 1;
            }

            & + & {
                margin-left: 5px;
            }
        }

        &__stt {
            @include flexBox(both);
            width: 24px;
            height: 24px;
            border: 1px solid rgba($color: #000000, $alpha: 0.1);
            border-radius: 50%;

            font-size: 18px;
            font-weight: bold;
            color: $color-sub;
            margin: 0 auto 6px;
        }

        &__text {
            font-size: 14px;
            color: $color-text;

            @include responsive_bothTM {
                font-size: 13px;
            }
        }

        &__content {
            padding: 0 10px 10px;
            background-color: $color-main;
            border-radius: 0 0 10px 10px;
        }

        &__thumbs {
            @include imgPT(58%);
            position: relative;
            border-radius: 10px;

            &:hover {
                opacity: 1;
            }

            // &.video {
            //     &::before{

            //     }

            //     &::after {
            //         content: "";
            //         position: absolute;
            //         top: 50%;
            //         left: 50%;
            //         transform: translate(-50%, -50%);
            //     }
            // }
        }
    }

    // &-tab {
    //     max-width: 700px;
    //     margin: 0 auto 20px;

    //     @include responsive_mobile {
    //         max-width: 100%;
    //     }

    //     &__list {
    //         position: relative;
    //         @include flexBox(hor);
    //         max-width: 100%;
    //         overflow-x: auto;
    //         height: 100px;

    //         @include responsive_mobile {
    //             height: 170px;
    //         }

    //         &::-webkit-scrollbar {
    //             height: 15px;
    //         }

    //         /* Track */
    //         &::-webkit-scrollbar-track {
    //             background: rgba($color: $color-main, $alpha: 1);
    //             border-radius: 0;
    //         }

    //         /* Handle */
    //         &::-webkit-scrollbar-thumb {
    //             border-radius: 0;
    //             background: rgba($color: $color-main, $alpha: 1);
    //         }

    //         /* Handle on hover */
    //         &::-webkit-scrollbar-thumb:hover {
    //             background: rgba($color: $color-main, $alpha: 1);
    //         }
    //     }

    //     &__link {
    //         padding: 10px 20px;
    //         border-radius: 10px 10px 0 0;
    //         background-color: #fff;
    //         text-align: center;

    //         height: 100%;
    //         min-width: 200px;
    //         max-width: 250px;

    //         @include responsive_mobile {
    //             min-width: 110px;
    //             max-width: 250px;
    //         }

    //         &.active {
    //             background-color: $color-main;

    //             .cart-tab {
    //                 &__stt {
    //                     border-color: #fff;
    //                     color: $color-main;
    //                     background-color: #fff;
    //                 }

    //                 &__text {
    //                     color: #fff;
    //                 }
    //             }
    //         }

    //         & + & {
    //             margin-left: 5px;
    //         }
    //     }

    //     &__stt {
    //         @include flexBox(both);
    //         width: 24px;
    //         height: 24px;
    //         border: 1px solid rgba($color: #000000, $alpha: 0.1);
    //         border-radius: 50%;

    //         font-size: 18px;
    //         font-weight: bold;
    //         color: $color-sub;
    //         margin: 0 auto 6px;
    //     }

    //     &__text {
    //         font-size: 14px;
    //         color: $color-text;

    //         @include responsive_bothTM {
    //             font-size: 13px;
    //         }
    //     }

    //     &__content {
    //         padding: 0 10px 10px;
    //         background-color: $color-main;
    //         border-radius: 0 0 10px 10px;
    //     }

    //     &__thumbs {
    //         @include imgPT(58%);
    //         position: relative;
    //         border-radius: 10px;

    //         &:hover {
    //             opacity: 1;
    //         }

    //         // &.video {
    //         //     &::before{

    //         //     }

    //         //     &::after {
    //         //         content: "";
    //         //         position: absolute;
    //         //         top: 50%;
    //         //         left: 50%;
    //         //         transform: translate(-50%, -50%);
    //         //     }
    //         // }
    //     }
    // }

    &-cover {
        max-width: 700px;
        margin: 0 auto;

        &__text {
            margin-bottom: 20px;
            text-align: center;
        }

        &__list {
            margin-bottom: 20px;
        }

        &__item {
            @include flexBox(hor);

            & + & {
                margin-top: 10px;
            }
        }

        &__avt {
            min-width: 50px;
            width: 50px;
            height: 50px;

            @include imgPT(0%);
            border-radius: 50%;
            margin-right: 10px;
        }

        &__title {
            color: $color-text;
            @include lineDot(1);
        }

        &__price {
            font-size: 14px;
        }
    }
}
