.category {
    &-slider {
        margin: 16px 0 40px;

        @include responsive_bothTM {
            margin-bottom: 30px;
        }

        .swiper {
            &-wrapper {
                flex-direction: initial !important;
            }

            &-slide {
                width: fit-content;
            }

            &-button {
                &-next,
                &-prev {
                    width: 45px;
                    height: 45px;
                    background-color: rgba(0, 0, 0, 0.2);
                    border-radius: 50%;

                    @include responsive_bothTM {
                        display: none;
                    }

                    &::after {
                        display: none;
                    }
                }

                &-next {
                    &::before {
                        content: "";
                        position: absolute;
                        top: 50%;
                        left: 55%;
                        transform: translate(-50%, -50%);

                        width: 16px;
                        height: 16px;
                        background-image: url("data:image/svg+xml,%3Csvg fill='%23ffffff' height='64px' width='64px' version='1.1' id='XMLID_287_' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 24 24' xml:space='preserve'%3E%3Cg id='SVGRepo_bgCarrier' stroke-width='0'%3E%3C/g%3E%3Cg id='SVGRepo_tracerCarrier' stroke-linecap='round' stroke-linejoin='round'%3E%3C/g%3E%3Cg id='SVGRepo_iconCarrier'%3E%3Cg id='next'%3E%3Cg%3E%3Cpolygon points='6.8,23.7 5.4,22.3 15.7,12 5.4,1.7 6.8,0.3 18.5,12 '%3E%3C/polygon%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
                        background-repeat: no-repeat;
                        background-size: cover;
                    }
                }

                &-prev {
                    &::before {
                        content: "";
                        position: absolute;
                        top: 50%;
                        left: 48%;
                        transform: translate(-50%, -50%);

                        width: 16px;
                        height: 16px;
                        background-image: url("data:image/svg+xml,%3Csvg fill='%23ffffff' height='64px' width='64px' version='1.1' id='XMLID_287_' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 24 24' xml:space='preserve' transform='rotate(180)'%3E%3Cg id='SVGRepo_bgCarrier' stroke-width='0'%3E%3C/g%3E%3Cg id='SVGRepo_tracerCarrier' stroke-linecap='round' stroke-linejoin='round'%3E%3C/g%3E%3Cg id='SVGRepo_iconCarrier'%3E%3Cg id='next'%3E%3Cg%3E%3Cpolygon points='6.8,23.7 5.4,22.3 15.7,12 5.4,1.7 6.8,0.3 18.5,12 '%3E%3C/polygon%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
                        background-repeat: no-repeat;
                        background-size: cover;
                    }
                }

                &-disabled {
                    opacity: 0;
                }
            }
        }

        &__link {
            width: fit-content;
            margin: 5px;

            & > img {
                height: 52px;
                width: auto;
            }
        }
    }

    &-header {
        @include flexBox(bothSides);
        margin-bottom: 20px;

        @include responsive_bothTM {
            margin-bottom: 15px;
        }

        &__title {
            font-size: 24px;
            font-weight: bold;
            text-transform: uppercase;

            @include responsive_bothTM {
                font-size: 16px;
            }
        }

        &__link {
            position: relative;
            font-weight: 500;
            padding-right: 20px;
            color: $color-text;
            line-height: 20px;

            @include responsive_bothTM {
                font-size: 14px;
                padding-right: 15px;
            }

            &::after {
                content: "";
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                right: 0;

                width: 15px;
                height: 15px;
                background-image: url("data:image/svg+xml,%3Csvg fill='%23384059' height='64px' width='64px' version='1.1' id='XMLID_287_' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 24.00 24.00' xml:space='preserve' stroke='%23384059' stroke-width='0.6'%3E%3Cg id='SVGRepo_bgCarrier' stroke-width='0'%3E%3C/g%3E%3Cg id='SVGRepo_tracerCarrier' stroke-linecap='round' stroke-linejoin='round'%3E%3C/g%3E%3Cg id='SVGRepo_iconCarrier'%3E%3Cg id='next'%3E%3Cg%3E%3Cpolygon points='6.8,23.7 5.4,22.3 15.7,12 5.4,1.7 6.8,0.3 18.5,12 '%3E%3C/polygon%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
                background-repeat: no-repeat;
                background-size: cover;

                @include responsive_bothTM {
                    width: 10px;
                    height: 10px;
                }
            }
        }
    }
}
