.detail {
    background-color: #fff;
    padding-top: 20px;

    &-breadcrumb {
        margin-bottom: 20px;
        @include flexBox(hor);
        flex-flow: row wrap;

        &__item {
            @include flexBox(hor);
            margin-right: 5px;

            &:last-child {
                .detail-breadcrumb__text {
                    text-transform: uppercase;
                    color: $color-title;
                }
            }
        }
    }

    &-cover {
        @include flexBox(top);
    }

    &-slider + &-content {
        margin-left: 40px;
    }

    &-slider {
        width: 42%;
        max-width: 42%;

        &__show {
            margin-bottom: 20px;

            .swiper {
                &-slide {
                    width: 100% !important;
                }
            }
        }

        &__show,
        &__thumbs {
            position: relative;
        }

        &__thumbs {
            .swiper {
                &-slide {
                    &-thumb-active {
                        .detail-slider__btn {
                            border-color: $color-main;
                        }
                    }
                }

                &-button {
                    &-next,
                    &-prev {
                        width: 45px;
                        height: 45px;
                        background-color: rgba(0, 0, 0, 0.2);
                        border-radius: 50%;
                        transition: all 0.3s;

                        @include responsive_bothTM {
                            display: none;
                        }

                        &:hover {
                            background-color: rgba(0, 0, 0, 0.3);
                        }

                        &::after {
                            display: none;
                        }
                    }

                    &-next {
                        &::before {
                            content: "";
                            position: absolute;
                            top: 50%;
                            left: 55%;
                            transform: translate(-50%, -50%);

                            width: 16px;
                            height: 16px;
                            background-image: url("data:image/svg+xml,%3Csvg fill='%23ffffff' height='64px' width='64px' version='1.1' id='XMLID_287_' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 24 24' xml:space='preserve'%3E%3Cg id='SVGRepo_bgCarrier' stroke-width='0'%3E%3C/g%3E%3Cg id='SVGRepo_tracerCarrier' stroke-linecap='round' stroke-linejoin='round'%3E%3C/g%3E%3Cg id='SVGRepo_iconCarrier'%3E%3Cg id='next'%3E%3Cg%3E%3Cpolygon points='6.8,23.7 5.4,22.3 15.7,12 5.4,1.7 6.8,0.3 18.5,12 '%3E%3C/polygon%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
                            background-repeat: no-repeat;
                            background-size: cover;
                        }
                    }

                    &-prev {
                        &::before {
                            content: "";
                            position: absolute;
                            top: 50%;
                            left: 48%;
                            transform: translate(-50%, -50%);

                            width: 16px;
                            height: 16px;
                            background-image: url("data:image/svg+xml,%3Csvg fill='%23ffffff' height='64px' width='64px' version='1.1' id='XMLID_287_' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 24 24' xml:space='preserve' transform='rotate(180)'%3E%3Cg id='SVGRepo_bgCarrier' stroke-width='0'%3E%3C/g%3E%3Cg id='SVGRepo_tracerCarrier' stroke-linecap='round' stroke-linejoin='round'%3E%3C/g%3E%3Cg id='SVGRepo_iconCarrier'%3E%3Cg id='next'%3E%3Cg%3E%3Cpolygon points='6.8,23.7 5.4,22.3 15.7,12 5.4,1.7 6.8,0.3 18.5,12 '%3E%3C/polygon%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
                            background-repeat: no-repeat;
                            background-size: cover;
                        }
                    }

                    &-disabled {
                        opacity: 0;
                    }
                }
            }
        }

        &__img {
            @include imgPT(100%);
            border-radius: 10px;
        }

        &__btn {
            border-radius: 10px;
            overflow: hidden;
            border: 2px solid #dee2e6;
            transition: all 0.3s;

            &:hover {
                border-color: $color-main;
            }
        }
    }

    &-content {
        width: 68%;

        &__report {
            margin-left: calc(100% - 88px);
            padding: 6px 16px;
            font-size: 14px;
            line-height: 18px;

            font-weight: 600;
            color: #ed5565;
            background-color: transparent;
            border-radius: 10px;
            border: 1px solid rgba(56, 64, 89, 0.2);
        }

        &__title {
            font-size: 28px;
            text-transform: uppercase;
            font-weight: bold;
            margin-bottom: 20px;
        }

        &__price {
            font-size: 32px;
            margin-bottom: 5px;
            font-weight: bold;
            color: $color-main;
            line-height: initial;
        }

        &__text {
            font-size: 14px;
            margin-bottom: 5px;

            &.special {
                margin-bottom: 0;
                min-width: 35%;
            }

            &.special2 {
                margin-bottom: 0;
                font-weight: 600;
            }

            &.special3 {
                color: $color-sub;
            }
        }

        &__evaluate {
            @include flexBox(hor);
            margin-bottom: 10px;
        }

        &__star {
            margin-right: 8px;

            .fa-solid {
                &.active {
                    color: $color-yellow;
                }
            }
        }

        &__total {
            color: $color-yellow;
        }

        &__pay {
            border: 0;
            background-color: transparent;
            margin-bottom: 20px;

            & > img {
                max-height: 51px;
                width: auto;
            }
        }

        &__form {
            margin-bottom: 20px;
        }

        &__group {
            @include flexBox(hor);

            & + & {
                margin-top: 16px;
            }
        }

        &__type {
            min-width: 110px;
            font-weight: 500;
        }

        &__list {
            @include flexBox(hor);
        }

        &__option {
            position: relative;
            cursor: pointer;

            & + & {
                margin-left: 10px;
            }
        }

        &__span {
            display: inline-block;
            padding: 6px 12px;
            border-radius: 10px;
            background-color: #f2f1f2;
            border: 1px solid transparent;
            transition: all 0.3s;
        }

        &__check {
            position: absolute;
            visibility: hidden;

            &:checked ~ .detail-content__span {
                border-color: $color-main;
                color: $color-main;
                background-color: #fff;
            }
        }

        &__address {
            padding: 20px;
            margin-bottom: 10px;
            border-radius: 10px;
            background-color: #fafafa;
        }

        &__top {
            @include flexBox(top);
            padding-bottom: 10px;
            border-bottom: 1px solid #f2f1f2;
        }

        &__top + &__box {
            margin-top: 10px;
        }

        &__freeship {
            min-width: 38%;
        }

        &__ul {
            li {
                font-size: 14px;
                list-style-type: initial;
            }
        }

        &__box {
            @include flexBox(hor);
            padding-bottom: 10px;
            border-bottom: 1px solid #f2f1f2;

            & + & {
                margin-top: 10px;
            }

            &:last-child {
                padding-bottom: 0;
                border-bottom: 0;
            }
        }

        &__choose {
            @include flexBox(bothSides);
            border: 0;
            background-color: transparent;
            width: 100%;
        }

        &__sale {
            position: relative;
            padding: 10px 5px;
            background-color: $color-main;

            color: #fff;
            width: 240px;
            border-right: 1px solid #fff;
            margin-left: 10px;

            &::before,
            &::after {
                content: "";
                position: absolute;
                top: 0;

                width: 10px;
                height: 100%;
                background-repeat: no-repeat;
                background-size: cover;
            }

            &::before {
                left: -10px;
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='104' viewBox='0 0 10 104' fill='none' class='mdl-js' foxified=''%3E%3Cpath d='M0 3.69543V0H10V104L0 104V101.067C1.4517 101.067 2.62242 99.6007 2.62242 97.7823C2.62242 95.9639 1.4517 94.4975 0 94.4975V90.978C1.4517 90.978 2.62242 89.5116 2.62242 87.6932C2.62242 85.8748 1.4517 84.4083 0 84.4083V80.8889C1.4517 80.8889 2.62242 79.4225 2.62242 77.6041C2.62242 75.7857 1.4517 74.3192 0 74.3192V70.7998C1.4517 70.7998 2.62242 69.3333 2.62242 67.5149C2.62242 65.6966 1.4517 64.2301 0 64.2301V60.7107C1.4517 60.7107 2.62242 59.2442 2.62242 57.4258C2.62242 55.6074 1.4517 54.141 0 54.141V50.6215C1.4517 50.6215 2.62242 49.1551 2.62242 47.3367C2.62242 45.5183 1.4517 44.0519 0 44.0519V40.5324C1.4517 40.5324 2.62242 39.066 2.62242 37.2476C2.62242 35.4292 1.4517 33.9628 0 33.9628V30.4433C1.4517 30.4433 2.62242 28.9769 2.62242 27.1585C2.62242 25.3401 1.4517 23.8737 0 23.8737V20.3542C1.4517 20.3542 2.62242 18.8878 2.62242 17.0694C2.62242 15.251 1.4517 13.7845 0 13.7845V10.2651C1.4517 10.2651 2.62242 8.79865 2.62242 6.98026C2.62242 5.16187 1.4517 3.69543 0 3.69543Z' fill='%23CC3366'/%3E%3C/svg%3E");
            }

            &::after {
                right: -11px;
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='104' viewBox='0 0 10 104' fill='none' class='mdl-js' foxified=''%3E%3Cpath d='M10 100.305V104H0V0L10 -7.62939e-06V2.93288C8.5483 2.93288 7.37758 4.39932 7.37758 6.21771C7.37758 8.0361 8.5483 9.50253 10 9.50253V13.022C8.5483 13.022 7.37758 14.4884 7.37758 16.3068C7.37758 18.1252 8.5483 19.5917 10 19.5917V23.1111C8.5483 23.1111 7.37758 24.5775 7.37758 26.3959C7.37758 28.2143 8.5483 29.6808 10 29.6808V33.2002C8.5483 33.2002 7.37758 34.6667 7.37758 36.4851C7.37758 38.3034 8.5483 39.7699 10 39.7699V43.2893C8.5483 43.2893 7.37758 44.7558 7.37758 46.5742C7.37758 48.3926 8.5483 49.859 10 49.859V53.3785C8.5483 53.3785 7.37758 54.8449 7.37758 56.6633C7.37758 58.4817 8.5483 59.9481 10 59.9481V63.4676C8.5483 63.4676 7.37758 64.934 7.37758 66.7524C7.37758 68.5708 8.5483 70.0372 10 70.0372V73.5567C8.5483 73.5567 7.37758 75.0231 7.37758 76.8415C7.37758 78.6599 8.5483 80.1263 10 80.1263V83.6458C8.5483 83.6458 7.37758 85.1122 7.37758 86.9306C7.37758 88.749 8.5483 90.2155 10 90.2155V93.7349C8.5483 93.7349 7.37758 95.2014 7.37758 97.0197C7.37758 98.8381 8.5483 100.305 10 100.305Z' fill='%23CC3366'/%3E%3C/svg%3E");
            }
        }

        &__up {
            text-transform: uppercase;
            font-size: 14px;
            font-weight: 600;
        }

        &__sub {
            font-size: 12px;
        }

        &__seemore {
            position: relative;
            color: #fff;
            font-size: 12px;
            width: fit-content;
            padding-right: 20px;

            &::after {
                content: "";
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                right: 0;

                width: 16px;
                height: 24px;
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M9 6L15 12L9 18' stroke='%23ffffff' stroke-width='2' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'%3E%3C/path%3E%3C/svg%3E");
                background-repeat: no-repeat;
                background-size: cover;
            }

            &:hover {
                color: #fff;
            }
        }

        &__btn {
            margin-top: 30px;
        }
    }
}
