.product {
    &-wrapper {
        margin-bottom: 60px;

        @include responsive_bigLow {
            margin-bottom: 40px;
        }
    }

    &-slider {
        --width-product-slider-btn: 10px;

        .swiper {
            &-button {
                &-next,
                &-prev {
                    width: 60px;
                    height: 60px;
                    background-color: rgba(0, 0, 0, 0.2);
                    border-radius: 50%;
                    transition: all 0.3s;

                    @include responsive_bothTM {
                        display: none;
                    }

                    &::after {
                        display: none;
                    }

                    &:hover {
                        background-color: rgba(0, 0, 0, 0.3);

                        &::before {
                            opacity: 0.8;
                        }
                    }
                }

                &-next {
                    right: var(--width-product-slider-btn);

                    &::before {
                        content: "";
                        position: absolute;
                        top: 50%;
                        left: 53%;
                        transform: translate(-50%, -50%);

                        width: 18px;
                        height: 18px;
                        background-image: url("data:image/svg+xml,%3Csvg fill='%23ffffff' height='64px' width='64px' version='1.1' id='XMLID_287_' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 24 24' xml:space='preserve'%3E%3Cg id='SVGRepo_bgCarrier' stroke-width='0'%3E%3C/g%3E%3Cg id='SVGRepo_tracerCarrier' stroke-linecap='round' stroke-linejoin='round'%3E%3C/g%3E%3Cg id='SVGRepo_iconCarrier'%3E%3Cg id='next'%3E%3Cg%3E%3Cpolygon points='6.8,23.7 5.4,22.3 15.7,12 5.4,1.7 6.8,0.3 18.5,12 '%3E%3C/polygon%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
                        background-repeat: no-repeat;
                        background-size: cover;
                        opacity: 0.5;
                        transition: all 0.3s;
                    }
                }

                &-prev {
                    left: var(--width-product-slider-btn);

                    &::before {
                        content: "";
                        position: absolute;
                        top: 50%;
                        left: 48%;
                        transform: translate(-50%, -50%);

                        width: 18px;
                        height: 18px;
                        background-image: url("data:image/svg+xml,%3Csvg fill='%23ffffff' height='64px' width='64px' version='1.1' id='XMLID_287_' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 24 24' xml:space='preserve' transform='rotate(180)'%3E%3Cg id='SVGRepo_bgCarrier' stroke-width='0'%3E%3C/g%3E%3Cg id='SVGRepo_tracerCarrier' stroke-linecap='round' stroke-linejoin='round'%3E%3C/g%3E%3Cg id='SVGRepo_iconCarrier'%3E%3Cg id='next'%3E%3Cg%3E%3Cpolygon points='6.8,23.7 5.4,22.3 15.7,12 5.4,1.7 6.8,0.3 18.5,12 '%3E%3C/polygon%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
                        background-repeat: no-repeat;
                        background-size: cover;
                        opacity: 0.5;
                        transition: all 0.3s;
                    }
                }
            }
        }
    }

    &-list {
        @include gridBox(5, 20px, 20px);
        margin-bottom: 60px;

        @include responsive_bigLow {
            margin-bottom: 40px;
        }

        @include responsive_HD {
            gap: 10px 10px;
        }

        @include responsive_table {
            grid-template-columns: repeat(3, 1fr);
        }

        @include responsive_mobile {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    &-item {
        position: relative;
        padding: 5px 5px 30px 5px;
        border-radius: 10px;
        overflow: hidden;
        background-color: #fff;

        &__cover {
            position: relative;
            margin-bottom: 10px;
        }

        &__img {
            @include imgPT(100%);
            border-radius: 10px;
        }

        &__sub {
            position: absolute;
            top: 0;
            right: 0;
            background-color: #fff;
            border-radius: 0 0 0 10px;
            overflow: hidden;

            & > img {
                width: 26px;
                max-width: 26px;
                height: 26px;
            }
        }

        &__tag {
            position: absolute;
            top: 0;
            left: 0;

            @include flexBox(hor);
            background-color: $bg-color;
            border-radius: 10px 0 10px 0;
            overflow: hidden;
            padding: 3px 6px;
        }

        &__icon {
            & > img {
                width: 20px;
                max-width: 20px;
                height: 20px;
            }
        }

        &__text {
            font-size: 12px;
            font-weight: bold;
            color: #fff;
            margin-left: 5px;
        }

        &__btn {
            position: absolute;
            bottom: 0;
            left: 0;

            @include flexBox(hor);
            background-color: $color-main;
            border-radius: 0 10px 0 10px;
            overflow: hidden;
        }

        &__btnSub {
            border: 0;
            background-color: transparent;
            color: #fff;
            font-size: 12px;

            font-weight: 500;
            padding: 5px;
            line-height: 18px;

            &:nth-child(2) {
                border-left: 1px solid #fff;
            }
        }

        &__title {
            font-size: 14px;
            text-transform: uppercase;
            color: $color-text;

            @include lineDot(2);
            line-height: 20px;
            margin-bottom: 5px;
        }

        &__span {
            font-size: 12px;
            color: $color-sub;
        }

        &__price {
            font-size: 16px;
            color: $color-main;
            font-weight: 600;
        }

        &__flex {
            @include flexBox(bothSides);
        }

        &__evaluate {
            font-size: 8px;

            .fa-solid {
                &.active {
                    color: $color-yellow;
                }
            }
        }

        &__freeship {
            position: absolute;
            bottom: 0;
            left: 0;
            border-radius: 0 10px 0 10px;

            color: #fff;
            font-size: 12px;
            font-weight: bold;
            line-height: 15px;

            font-style: italic;
            background-color: $color-green;
            padding: 5px 10px 5px 32px;
            width: fit-content;

            &::after {
                content: "";
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                left: 10px;

                width: 16px;
                height: 16px;
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 15 12' fill='%23fff'%3E%3Crect y='2' width='6' height='1' rx='0.5' fill='%23fff'%3E%3C/rect%3E%3Crect x='2' y='4' width='4' height='1' rx='0.5' fill='%23fff'%3E%3C/rect%3E%3Cpath fill-rule='%23fff' clip-rule='evenodd' d='M2 1C2 0.447715 2.44772 0 3 0H6C6.55228 0 7 0.447715 7 1V4C7 4.55228 6.55228 5 6 5H4V4H4.49995C4.77609 4 4.99995 3.77614 4.99995 3.5C4.99995 3.22386 4.77609 3 4.49995 3H4H2V1Z' fill='%23fff'%3E%3C/path%3E%3Cpath d='M9.4165 6.87593L8.0485 5.96393L9.67975 4.73993L11.47 6.53018C11.6106 6.67084 11.8014 6.74989 12.0002 6.74993H14.2502V5.24993H12.3107L10.2805 3.21968C10.1529 3.09203 9.98345 3.0147 9.80339 3.00189C9.62332 2.98908 9.44468 3.04164 9.30025 3.14993L7.1485 4.76468C6.95657 4.90859 6.80195 5.09643 6.69762 5.31245C6.5933 5.52846 6.5423 5.76635 6.54891 6.00615C6.55552 6.24594 6.61955 6.48066 6.73562 6.6906C6.8517 6.90053 7.01643 7.07957 7.216 7.21268L8.25025 7.90118V11.2499H9.75025V7.49993C9.75027 7.37649 9.71981 7.25495 9.66159 7.1461C9.60337 7.03724 9.51919 6.94444 9.4165 6.87593Z' fill='%23fff'%3E%3C/path%3E%3Cpath d='M5.25 7.5C4.80499 7.5 4.36998 7.63196 3.99997 7.87919C3.62996 8.12643 3.34157 8.47783 3.17127 8.88896C3.00097 9.3001 2.95642 9.7525 3.04323 10.189C3.13005 10.6254 3.34434 11.0263 3.65901 11.341C3.97368 11.6557 4.37459 11.8699 4.81105 11.9568C5.2475 12.0436 5.6999 11.999 6.11104 11.8287C6.52217 11.6584 6.87357 11.37 7.12081 11C7.36804 10.63 7.5 10.195 7.5 9.75C7.5 9.15326 7.26295 8.58097 6.84099 8.15901C6.41903 7.73705 5.84674 7.5 5.25 7.5ZM5.25 10.5C5.10166 10.5 4.95666 10.456 4.83332 10.3736C4.70999 10.2912 4.61386 10.1741 4.55709 10.037C4.50033 9.89997 4.48547 9.74917 4.51441 9.60368C4.54335 9.4582 4.61478 9.32456 4.71967 9.21967C4.82456 9.11478 4.9582 9.04335 5.10368 9.01441C5.24917 8.98547 5.39997 9.00032 5.53701 9.05709C5.67406 9.11386 5.79119 9.20998 5.8736 9.33332C5.95601 9.45666 6 9.60166 6 9.75C6 9.94891 5.92098 10.1397 5.78033 10.2803C5.63968 10.421 5.44891 10.5 5.25 10.5Z' fill='%23fff'%3E%3C/path%3E%3Cpath d='M12.75 7.5C12.305 7.5 11.87 7.63196 11.5 7.87919C11.13 8.12643 10.8416 8.47783 10.6713 8.88896C10.501 9.3001 10.4564 9.7525 10.5432 10.189C10.6301 10.6254 10.8443 11.0263 11.159 11.341C11.4737 11.6557 11.8746 11.8699 12.311 11.9568C12.7475 12.0436 13.1999 11.999 13.611 11.8287C14.0222 11.6584 14.3736 11.37 14.6208 11C14.868 10.63 15 10.195 15 9.75C15 9.15326 14.7629 8.58097 14.341 8.15901C13.919 7.73705 13.3467 7.5 12.75 7.5ZM12.75 10.5C12.6017 10.5 12.4567 10.456 12.3333 10.3736C12.21 10.2912 12.1139 10.1741 12.0571 10.037C12.0003 9.89997 11.9855 9.74917 12.0144 9.60368C12.0434 9.4582 12.1148 9.32456 12.2197 9.21967C12.3246 9.11478 12.4582 9.04335 12.6037 9.01441C12.7492 8.98547 12.9 9.00032 13.037 9.05709C13.1741 9.11386 13.2912 9.20998 13.3736 9.33332C13.456 9.45666 13.5 9.60166 13.5 9.75C13.5 9.94891 13.421 10.1397 13.2803 10.2803C13.1397 10.421 12.9489 10.5 12.75 10.5Z' fill='%23fff'%3E%3C/path%3E%3Cpath d='M12.0232 0C12.4211 0 12.8026 0.158035 13.0839 0.43934C13.3652 0.720644 13.5232 1.10218 13.5232 1.5C13.5232 1.89782 13.3652 2.27936 13.0839 2.56066C12.8026 2.84196 12.4211 3 12.0232 3C11.1945 3 9 1.5 9 1.5C9 1.5 11.1945 0 12.0232 0Z' fill='%23fff'%3E%3C/path%3E%3C/svg%3E");
                background-repeat: no-repeat;
                background-size: cover;
            }

            &.special {
                position: relative;
                top: initial;
                left: inherit;
                transform: inherit;

                font-size: 14px;
                border-radius: 5px;
                padding: 10px 10px 10px 40px;

                &::after {
                    width: 24px;
                    height: 24px;
                }
            }
        }
    }

    &-category {
        margin-bottom: 20px;

        position: sticky;
        top: 68px;
        z-index: 110;
        background-color: #f2f1f2;

        @include responsive_bothTM {
            margin-bottom: 15px;
            top: 50px;
        }

        &__slider {
            .swiper {
                &-slide {
                    width: fit-content;
                }
            }

            &.special {
                margin-bottom: 20px;
            }
        }

        &__link {
            padding: 10px 20px;
            border-bottom: 2px solid transparent;
            font-size: 14px;

            font-weight: bold;
            text-transform: capitalize;
            width: fit-content;
            color: $color-text;
            transition: all 0.3s;

            &.active,
            &:hover {
                color: $color-main;
                border-color: $color-main;
            }
        }
    }

    &-btn {
        padding: 12px 160px;
        width: fit-content;
        min-width: max-content;

        @include flexBox(hor);
        margin: 0 auto;
        background-color: #fff;
        border-radius: 5px;
        border: 0;
        font-weight: 600;

        @include responsive_mobile {
            padding: 12px 40px;
        }

        & > svg {
            margin-left: 10px;
        }
    }
}
