.supplier {
    &-wrapper {
        margin-bottom: 60px;

        @include responsive_bigLow {
            margin-bottom: 40px;
        }
    }

    &-slider {
        &__img {
            @include imgPT(76%);
            border-radius: 10px;
        }

        .swiper {
            @include responsive_mobile {
                &-slide {
                    transform: scale(0.88);
                    transition: all 0.3s;

                    &-active {
                        transform: scale(1);
                    }
                }
            }
        }
    }
}
