.header {
    background-color: $color-main;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1111;

    @include responsive_bothTM {
        background-color: #fff;
        border-bottom: 1px solid rgba($color: #000000, $alpha: 0.1);
    }

    &-wrapper {
        @include flexBox(bothSides);
        height: 68px;

        @include responsive_bothTM {
            display: none;
        }
    }

    &-mobile {
        height: 50px;
        display: none;

        @include responsive_bothTM {
            @include flexBox(bothSides);
        }

        &__title {
            font-size: 18px;
            font-weight: 600;
        }

        &__btn {
            background-color: transparent;
            border: 0;

            & + & {
                margin-left: 10px;
            }
        }
    }

    &-main {
        @include flexBox(hor);
    }

    &-logo {
        min-width: max-content;
        margin-right: 40px;
    }

    &-form {
        position: relative;
        @include flexBox(bothSides);
        height: 50px;
        border-radius: 10px;
        background-color: #fff;

        padding: 0 12px;
        width: 542px;

        &__cover {
            position: absolute;
            top: 62px;
            left: 0;
            width: 90%;
            display: none;

            max-height: 400px;
            overflow-y: auto;
            background-color: #fff;
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
            padding: 8px 0;
            border-radius: 10px;

            &.active {
                display: block;
            }
        }

        &__input {
            border: 0;
            width: 100%;

            &::placeholder {
                color: $color-sub;
                font-size: 16px;
            }

            &:focus-visible ~ .header-form__cover {
                display: block;
            }
        }

        &__btn {
            border: 0;
            background-color: transparent;
        }

        &__sub {
            @include flexBox(hor);

            &:hover {
                background-color: #f2f1f2;
            }

            & > svg {
                min-width: 16px;
                margin-right: 10px;
            }
        }

        &__key {
            color: $color-text;
            font-weight: 500;
        }

        &__title,
        &__sub {
            padding: 8px 20px;
        }

        &__title {
            font-size: 14px;
            font-weight: bold;
            text-transform: uppercase;
            color: $color-title;
        }

        &__avt {
            min-width: 32px;
            width: 32px;
            height: 32px;

            @include imgPT(0%);
            margin-right: 10px;
            border-radius: 50%;
        }
    }
}
